/* NavBar */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.89) 30%);
  padding: 0 100px;
  z-index: 10;
  transition: all .3s
}

nav .opcoes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%
}

nav .opcoes a {
  font-family: var(--regular);
  font-size: 15px;
  color: var(--cor-branco);
  margin: 0 0 0 25px;
  transition: all .3s
}

nav .opcoes a:hover {
  transform: scale(0.9);
}

nav .opcoes a.destaque {
  font-family: 'principal';
  font-weight: bold;
  font-size: 14px;
  color: var(--cor-branco);
  background-color: transparent;
  padding: 4px 18px;
  border: 1px solid #ff0000;
  border-radius: 10px;
  border-width: 1px;
}

nav .opcoes a.destaque:hover {
  background-color: #ff0000;
  box-shadow: 0 10px 30px 0 #ff0000;
  transform: scale(0.9)
}

nav .menu {
  display: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin-left: auto;
  position: relative
}

nav .menu span {
  height: 3px;
  background-color: var(--cor-secundaria);
  position: absolute;
  border-radius: 10px;
  transition: all .3s
}

nav .menu span.um {
  top: 5px;
  right: 0;
  width: 20px
}

nav .menu.ativo span.um {
  transform: rotate(45deg);
  top: 8px;
  right: -5px;
  width: 20px
}

nav .menu span.dois {
  width: 10px;
  bottom: 5px;
  right: 0
}

nav .menu.ativo span.dois {
  transform: rotate(-45deg);
  width: 20px;
  bottom: 8px;
  right: -5px
}

/* <section class="apresentacao"/> */
section.apresentacao {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px;
  position: relative;
  overflow: hidden;
  background-image: url('../../../../files/images/background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
/* Imagens Joe's */
section.apresentacao img {
  position: absolute;
}
section.apresentacao img.joe {
  bottom: 0;
  right: 9vw;
  width: 100%;
  max-width: 665px;
  z-index: 4;
}
section.apresentacao img.joe2 {
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  z-index: 3;
}

/* Circulo */

section.apresentacao .circulo {
  position: absolute;
  width: 872px;
  height: 882px;
  border-radius: 50%;
  border: 50px solid #fd0101;
  border-top: 50px solid #000000;
  box-shadow: 0 20px 50px 0 #ff0000;
  background-color: #000000c5;
  backdrop-filter: blur(3px);
  bottom: -250px;
  right: -93px;
  transition: all 0.3s;
  animation: rodando 5s linear infinite;
  z-index: 1;
}

/* animação do circulo */

@keyframes rodando {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Imagens Sangue */
section.apresentacao img.sangue1 {
  bottom: -44px;
  left: -40px;
  width: 100%;
  max-width: 272px;
  z-index: 2
}
section.apresentacao img.sangue2 {
  top: 0;
  left: -40px;
  width: 100%;
  max-width: 272px;
}
section.apresentacao img.sangue3 {
  bottom: -32px;
  right: -13px;
  width: 100%;
  max-width: 242px;
  z-index: 6;
}
section.apresentacao img.sangue4 {
  top: 0;
  right: -12px;
  width: 100%;
  max-width: 252px;
  z-index: 4;
}
/* Texto */
section.apresentacao .texto {
  position: relative;
  left: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 5;
}
section.apresentacao .texto h1 img {
  position: relative;
  bottom: 43px;
  right: 20px;
  width: 100%;
  max-width: 265px;
}
section.apresentacao .texto span {
  position: relative;
  opacity: 30%;
  font-family: 'principal';
  font-size: 40px;
  color: var(--cor-branco);
  line-height: 1;
  font-weight: lighter;
  bottom: 50px;
  right: 20px;


}
section.apresentacao .texto p {
  font-family: 'paragrafo';
  font-size: 19px;
  color: var(--cor-branco);
  line-height: 1.5;
  margin: -35px 0 40px 45px;
  width: 100%;
  max-width: 500px;
  line-height: 1.6;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.411)
}
section.apresentacao .texto button {
  font-family: 'principal';
  font-size: 22px;
  font-weight: bold;
  color: var(--cor-branco);
  background-color: #ff0000;
  border: 4px solid #ff0000;
  padding: 15px 60px;
  border-radius: 100px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  font-size: 22px;
  color: #ffffff;
  background-color: #ff0000;
  border: 3px solid #ff0000;
  padding: 8px 30px;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  left: 45px;
  top: -10px;
}
section.apresentacao .texto button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 35px 6px hwb(0 0% 0%);

}
/* Responsivo */
@media screen and (max-width: 1101px) {
  section.apresentacao {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 30px 350px 30px;
  }
  /* Imagem */
  section.apresentacao img {
    position: absolute;
  }
  section.apresentacao img.joe {
    right: 9px;
    max-width: 300px;
  }
  
  section.apresentacao img.joe2 {
    right: 0px;
    max-width: 180px;
  }
  /* Texto */
  section.apresentacao .texto h1 {
    font-size: 100px;
  }
  section.apresentacao .texto h1 span {
    font-size: 30px;
  }
  section.apresentacao .texto p {
    margin: -35px 0 40px 30px;
  }
  section.apresentacao .texto button {  
    left: 30px;
  }
  section.apresentacao .texto {
    top: 95px;

  }

  /* Circulo */
  section.apresentacao .circulo {
    width: 472px;
    height: 482px;
    bottom: -160px;
    right: -93px;
  }

  /* NavBar */
  nav {
    height:50px;
    min-height: 50px;
    max-height: 50px;
    padding: 0 30px
}

nav img.logo {
    max-width: 140px
}

nav .menu {
    display: flex
}

nav .opcoes {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 40px 10px 20px;
    background: #030303e3;
    border-radius: 10px;
    position: absolute;
    width: auto;
    top: 50px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s
}

nav .opcoes.mostrar {
    opacity: 1;
    visibility: visible;
    pointer-events: all
}

nav .opcoes a {
    margin: 10px 0
}
}
@media screen and (max-width: 430px) {
  section.apresentacao .texto span {
    display: none;
  }
  section.apresentacao .texto img {
    left: 15px;
  }
  section.apresentacao .texto  {
    left: -30px;
  }
    /* Circulo */
    section.apresentacao .circulo {
      width: 472px;
      height: 482px;
      bottom: -160px;
      right: -93px;
    }
}